@use 'sass:map';

@use 'themes/catppuccin/01_latte' as light;
@use 'themes/catppuccin/04_mocha' as dark;

// Selection colors
$deep-orange: #ff5722;
$deep-orange-100: #ffccbc;

// Black (used for tap highlight transparency)
$black: #000;

// App colors
$selection-background: $deep-orange;
$selection-text: $deep-orange-100;
$links-color: $deep-orange;

$background-color: light.$color-catppuccin-base;
$text-color: light.$color-catppuccin-text;
$text-color-subtext-0: light.$color-catppuccin-subtext0;
$text-color-subtext-1: light.$color-catppuccin-subtext1;
$social-icons-color: light.$color-catppuccin-overlay1;
$borders: light.$color-catppuccin-surface0;

// Dark Mode
$dark-background-color: dark.$color-catppuccin-base;
$dark-text-color: dark.$color-catppuccin-text;
$dark-text-color-subtext-0: dark.$color-catppuccin-subtext0;
$dark-text-color-subtext-1: dark.$color-catppuccin-subtext1;
$dark-social-icons-color: dark.$color-catppuccin-overlay1;
$dark-borders: dark.$color-catppuccin-surface0;
