// https://github.com/catppuccin/catppuccin
// 🌻 Latte
$color-catppuccin-rosewater: #dc8a78; // rgb(220, 138, 120), hsl(11, 59%, 67%)
$color-catppuccin-flamingo: #dd7878; // rgb(221, 120, 120), hsl(0, 60%, 67%)
$color-catppuccin-pink: #ea76cb; // rgb(234, 118, 203), hsl(316, 73%, 69%)
$color-catppuccin-mauve: #8839ef; // rgb(136, 57, 239), hsl(266, 85%, 58%)
$color-catppuccin-red: #d20f39; // rgb(210, 15, 57), hsl(347, 87%, 44%)
$color-catppuccin-maroon: #e64553; // rgb(230, 69, 83), hsl(355, 76%, 59%)
$color-catppuccin-peach: #fe640b; // rgb(254, 100, 11), hsl(22, 99%, 52%)
$color-catppuccin-yellow: #df8e1d; // rgb(223, 142, 29), hsl(35, 77%, 49%)
$color-catppuccin-green: #40a02b; // rgb(64, 160, 43), hsl(109, 58%, 40%)
$color-catppuccin-teal: #179299; // rgb(23, 146, 153), hsl(183, 74%, 35%)
$color-catppuccin-sky: #04a5e5; // rgb(4, 165, 229), hsl(197, 97%, 46%)
$color-catppuccin-sapphire: #209fb5; // rgb(32, 159, 181), hsl(189, 70%, 42%)
$color-catppuccin-blue: #1e66f5; // rgb(30, 102, 245), hsl(220, 91%, 54%)
$color-catppuccin-lavender: #7287fd; // rgb(114, 135, 253), hsl(231, 97%, 72%)
$color-catppuccin-text: #4c4f69; // rgb(76, 79, 105), hsl(234, 16%, 35%)
$color-catppuccin-subtext1: #5c5f77; // rgb(92, 95, 119), hsl(233, 13%, 41%)
$color-catppuccin-subtext0: #6c6f85; // rgb(108, 111, 133), hsl(233, 10%, 47%)
$color-catppuccin-overlay2: #7c7f93; // rgb(124, 127, 147), hsl(232, 10%, 53%)
$color-catppuccin-overlay1: #8c8fa1; // rgb(140, 143, 161), hsl(231, 10%, 59%)
$color-catppuccin-overlay0: #9ca0b0; // rgb(156, 160, 176), hsl(228, 11%, 65%)
$color-catppuccin-surface2: #acb0be; // rgb(172, 176, 190), hsl(227, 12%, 71%)
$color-catppuccin-surface1: #bcc0cc; // rgb(188, 192, 204), hsl(225, 14%, 77%)
$color-catppuccin-surface0: #ccd0da; // rgb(204, 208, 218), hsl(223, 16%, 83%)
$color-catppuccin-base: #eff1f5; // rgb(239, 241, 245), hsl(220, 23%, 95%)
$color-catppuccin-mantle: #e6e9ef; // rgb(230, 233, 239), hsl(220, 22%, 92%)
$color-catppuccin-crust: #dce0e8; // rgb(220, 224, 232), hsl(220, 21%, 89%)
