// https://github.com/catppuccin/catppuccin
// 🌿 Mocha
$color-catppuccin-rosewater: #f5e0dc; // rgb(245, 224, 220), hsl(10, 56%, 91%)
$color-catppuccin-flamingo: #f2cdcd; // rgb(242, 205, 205), hsl(0, 59%, 88%)
$color-catppuccin-pink: #f5c2e7; // rgb(245, 194, 231), hsl(316, 72%, 86%)
$color-catppuccin-mauve: #cba6f7; // rgb(203, 166, 247), hsl(267, 84%, 81%)
$color-catppuccin-red: #f38ba8; // rgb(243, 139, 168), hsl(343, 81%, 75%)
$color-catppuccin-maroon: #eba0ac; // rgb(235, 160, 172), hsl(350, 65%, 77%)
$color-catppuccin-peach: #fab387; // rgb(250, 179, 135), hsl(23, 92%, 75%)
$color-catppuccin-yellow: #f9e2af; // rgb(249, 226, 175), hsl(41, 86%, 83%)
$color-catppuccin-green: #a6e3a1; // rgb(166, 227, 161), hsl(115, 54%, 76%)
$color-catppuccin-teal: #94e2d5; // rgb(148, 226, 213), hsl(170, 57%, 73%)
$color-catppuccin-sky: #89dceb; // rgb(137, 220, 235), hsl(189, 71%, 73%)
$color-catppuccin-sapphire: #74c7ec; // rgb(116, 199, 236), hsl(199, 76%, 69%)
$color-catppuccin-blue: #89b4fa; // rgb(137, 180, 250), hsl(217, 92%, 76%)
$color-catppuccin-lavender: #b4befe; // rgb(180, 190, 254), hsl(232, 97%, 85%)
$color-catppuccin-text: #cdd6f4; // rgb(205, 214, 244), hsl(226, 64%, 88%)
$color-catppuccin-subtext1: #bac2de; // rgb(186, 194, 222), hsl(227, 35%, 80%)
$color-catppuccin-subtext0: #a6adc8; // rgb(166, 173, 200), hsl(228, 24%, 72%)
$color-catppuccin-overlay2: #9399b2; // rgb(147, 153, 178), hsl(228, 17%, 64%)
$color-catppuccin-overlay1: #7f849c; // rgb(127, 132, 156), hsl(230, 13%, 55%)
$color-catppuccin-overlay0: #6c7086; // rgb(108, 112, 134), hsl(231, 11%, 47%)
$color-catppuccin-surface2: #585b70; // rgb(88, 91, 112), hsl(233, 12%, 39%)
$color-catppuccin-surface1: #45475a; // rgb(69, 71, 90), hsl(234, 13%, 31%)
$color-catppuccin-surface0: #313244; // rgb(49, 50, 68), hsl(237, 16%, 23%)
$color-catppuccin-base: #1e1e2e; // rgb(30, 30, 46), hsl(240, 21%, 15%)
$color-catppuccin-mantle: #181825; // rgb(24, 24, 37), hsl(240, 21%, 12%)
$color-catppuccin-crust: #11111b; // rgb(17, 17, 27), hsl(240, 23%, 9%)
