name: deploy-to-preview

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**docker**'
      - '.github/**'
      - '.gitignore'
      - '.vscode/**'
      - 'README.md'
      - 'justfile'
      - 'compose.yaml'

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: yarn
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            .output
            .nuxt
          key: ${{ runner.os }}-preview-nuxt-build-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-preview-nuxt-build-
      - run: yarn install
      - run: yarn run generate
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        id: upload-artifact
        with:
          name: preview-${{ github.run_id }}
          path: |
            ./.output/public/
            firebase.json
            .firebaserc
          if-no-files-found: error

  deploy:
    needs: build
    environment:
      name: preview
      url: ${{ steps.deployment-firebase.outputs.details_url }}
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: preview-${{ github.run_id }}
          path: .
      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c #v0.10.0
        id: deployment-firebase
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JACEM_CHAIEB }}
          projectId: jacem-chaieb
