name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  pages: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          token: ${{ secrets.PAT_TOKEN }}

  # The following jobs are executed only if a release is created
  build-firebase:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    env:
      ARTIFACT_NAME: jacem-chaieb-me-${{ needs.release-please.outputs.tag_name }}-firebase
    outputs:
      artifact-name: ${{ env.ARTIFACT_NAME }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          cache: yarn
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            .output
            .nuxt
          key: ${{ runner.os }}-firebase-nuxt-build-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-firebase-nuxt-build-
      - run: yarn install
      - run: yarn run generate
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        id: upload-artifact
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: |
            ./.output/public/
            firebase.json
            .firebaserc
          if-no-files-found: error
      - run: |
          curl -sSL \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -o "${{ env.ARTIFACT_NAME }}.zip" \
            "${{ github.api_url }}/repos/${{ github.repository }}/actions/artifacts/${{ steps.upload-artifact.outputs.artifact-id }}/zip"
      - run: gh release upload ${{ needs.release-please.outputs.tag_name }} ${{ env.ARTIFACT_NAME }}.zip
        env:
          GH_TOKEN: ${{ github.TOKEN }}

  deploy-firebase:
    runs-on: ubuntu-latest
    needs: build-firebase
    environment:
      name: production
      url: https://jacem.chaieb.me
    steps:
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: ${{ needs.build-firebase.outputs.artifact-name }}
          path: ./artifacts/firebase
      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c #v0.10.0
        id: deployment-firebase
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JACEM_CHAIEB }}
          projectId: jacem-chaieb
          channelId: live
          entryPoint: ./artifacts/firebase

  build-github-pages:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    env:
      ARTIFACT_NAME: jacem-chaieb-me-${{ needs.release-please.outputs.tag_name }}-github-pages
    outputs:
      artifact-name: ${{ env.ARTIFACT_NAME }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          cache: yarn
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            .output
            .nuxt
          key: ${{ runner.os }}-github-pages-nuxt-build-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-github-pages-nuxt-build-
      - uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - run: |
          GITHUB_REPO_NAME="$(echo "${GITHUB_REPOSITORY}" | awk -F'/' '{print $2}')"
          echo "NUXT_APP_BASE_URL=/${GITHUB_REPO_NAME}/" >> "$GITHUB_ENV"
      - run: yarn install
      - run: yarn run generate --preset github_pages
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        id: upload-artifact
        with:
          path: ./.output/public/
      - run: |
          curl -sSL \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -o "${{ env.ARTIFACT_NAME }}.zip" \
            "${{ github.api_url }}/repos/${{ github.repository }}/actions/artifacts/${{ steps.upload-artifact.outputs.artifact_id }}/zip"
      - run: gh release upload ${{ needs.release-please.outputs.tag_name }} ${{ env.ARTIFACT_NAME }}.zip
        env:
          GH_TOKEN: ${{ github.TOKEN }}

  deploy-github-pages:
    runs-on: ubuntu-latest
    needs: build-github-pages
    environment:
      name: github-pages
      url: ${{ steps.deployment-github-pages.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment-github-pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
